<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Namaskaram <%= @user.firstname %>,</p>
<p>You have been approved for PCC Genie access.</p>
<p>To access PCC Genie please log-in to <%= link_to @url, @url %></p>
<p>Pranam,</p>
<p>Isha Foundation</p>
</body>
</html>
