<div class='form-group'>
  <% if ::PccBreakRequest::EVENTS_WITH_COMMENTS.include?(@trigger) %>
      <% unless @pcc_break_request.comment_category.empty? %>
          <label for='comment_category'>Comments</label> <small>(required)</small>
          <%= select_tag 'comment_category', options_for_select(@PccBreakRequest.comment_category), :class => 'form-control' %>
          <br>
          <label>Details</label>
          <textarea name='comments' class='form-control'></textarea>
      <% else %>
          <label>Comments</label> <small>(required)</small>
          <textarea name='comments' class='form-control'></textarea>
      <% end %>
  <% elsif ::PccBreakRequest::EVENTS_WITH_FEEDBACK.include?(@trigger) %>
      <label>Feedback</label> <small>(required)</small>
      <textarea name='feedback' class='form-control'></textarea>
  <% else %>
      <label>Comments</label> <small>(optional)</small>
      <textarea name='comments' class='form-control'></textarea>
  <% end %>
</div>