<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h2> Reserve Teacher </h2>
    </div>
    <div class='page-body'>
      <div class='row'>
        <div class='col-md-6'>
          <%= render 'reserve_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
