<% if ([::Program::EVENT_ANNOUNCE]+::Program::EVENTS_WITH_COMMENTS).include?(@trigger) %>
<div class='alert alert-danger'>
<% else %>
<div class='alert alert-info'>
<% end %>
  <h3>Confirmation: </h3>
  <p>
    <% if @trigger == ::Program::EVENT_ANNOUNCE %>
    This action will <strong>announce</strong> the program to various departments and entities involved. This action cannot be reverted. Are you sure you want to proceed?
    <% elsif @trigger == ::Program::EVENT_DROP %>
     <strong>WARNING: </strong> This will cancel the program and free all associated resources. This action cannot be reverted. Are you sure if you want to proceed?
    <% elsif @trigger == ::Program::EVENT_CANCEL %>
    <strong>WARNING: </strong> This will cancel the program and free all associated resources. This action cannot be reverted. Are you sure if you want to proceed?
    <% elsif @trigger == ::Program::EVENT_START %>
    Are you sure you want to change the program to In-Progress state?
    <% elsif @trigger == ::Program::EVENT_PROPOSE %>
        Are you sure you want to Propose the program?
    <% elsif @trigger == ::Program::EVENT_FINISH %>
    Are you sure you want to change the program to Conducted state?
    <% elsif @trigger == ::Program::EVENT_TEACHER_CLOSE %>
        Are you sure you want to change the program to Teacher Closed state?
    <% elsif @trigger == ::Program::EVENT_ZAO_CLOSE %>
        Are you sure you want to change the program to ZAO Closed state?
    <% elsif @trigger == ::Program::EVENT_CLOSE %>
    Are you sure you want to close this program?
    <% end %>
  </p>
</div>
