  <div class='alert alert-info'>
  <h3>Confirmation: </h3>
  <p>
    <% if @trigger.nil? %>
    <%else%>
      <% if @trigger == ::Kit::EVENT_AVAILABLE %>
          Are you sure you want to change state to<strong>Available</strong> for this Kit?
      <% end %>
    <%end%>
  </p>
</div>