

<div class='form-group'>
  <label>Conditional Comments </label>
  <%= text_field_tag 'condition_comments', nil, :class => 'form-control' %>
</div>


<div class='form-group'>
  <label>General Comments </label>
  <%= text_field_tag 'general_comments', nil, :class => 'form-control' %>
</div>


