<h2>
  <small><%= kit_state_tag(@kit) %></small> Kit  <small><%= @kit.name %> </small>

   <span class='pull-right'>
    <%= link_to "Back to Kits", kits_path, :class => 'btn btn-primary' %>
  </span>
</h2>