<form class='form-inline' role='form'>
  <div class="form-group">
    <%= text_field_tag "keyword", nil, :class => 'form-control', :placeholder => 'Keyword to Search' %>
  </div>
  <%= button_tag "Search", :class => 'btn btn-sm btn-primary' %>
</form>