
<style type="text/css" title="currentStyle">
      @import "../ext/css/jquery.dataTables.css"; 
</style>
<script src="../ext/js/jquery.dataTables.js"type="text/javascript">
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#kit_table').dataTable();
    $('#venue_table').dataTable();
    $('#program_table').dataTable();
    $('#teacher_table').dataTable();
  });
</script>
<div class='row'>
  <div class='col-md-12'>
    <div class="tabbable">
    <ul id = "myTab" class="nav nav-pills">
        <li class="active"><a href="#Programs" data-toggle="pill">Programs</a></li>
        <li ><a href="#Venues" data-toggle="pill">Venues</a></li>
        <li ><a href="#Kits" data-toggle="pill">Kits</a></li>
        <li ><a href="#Teachers" data-toggle="pill">Teachers</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active" id="Programs">
        <%= render :partial => 'home/program_index' %>
      </div>
      <div class="tab-pane " id="Venues">
        <%= render :partial => 'home/venue_index' %>
      </div>
      <div class="tab-pane " id="Kits">
        <%= render :partial => 'home/kit_index' %>
      </div>
      <div class="tab-pane " id="Teachers">
        <%= render :partial => 'home/teachers_index' %>
      </div>
        
      </div>
    </div> 
  </div>
</div>