<div class='row'>
  <div class='col-md-12'>
    <div class='page-body'>
      <div class="bs-callout bs-callout-info">
      <h4>Account Activation Required</h4>
      <p>
        An e-mail has been sent to your approver with your message to approve. Please contact approver for approval.
      </p>
      <br/>

    </div>
    </div>
  </div>
</div>