<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h2>User Registration Confirmation</h2>
    </div>
    <div class='page-body'>
      <div class="bs-callout bs-callout-info">
      <h4>Account Activation Requires Confirmation of E-Mail Address</h4>
      <p>
        An e-mail has been sent to your e-mail address with a confirmation link. You must follow the confirmation link to activate your account.
      </p>
      <br/>
      <p>
        <%= link_to "Go to Sign-in Page", "/users/sign_in", :class => 'btn btn-lg btn-primary' %>
      </p>
    </div>
    </div>
  </div>
</div>