<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h2> Additional Comments <small> (if any, for the Teacher Scheduler) </small></h2>
    </div>
    <div class='page-body'>
      <div class='row'>
        <div class='col-md-6'>
          <%= render 'additional_comment_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

