<div class='row'>
  <div class='col-md-12'>
    <h2>Teacher Schedules
    </h2>
  </div>
</div>
<br>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script type="text/javascript">

    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var container = document.getElementById('teacher_schedule_search_results');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Position' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'string', role: 'style' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        var teacher_schedules = <%= raw @teacher_schedules.to_json %>;
        for (index = 0; index < teacher_schedules.length; ++index) {
            var value = teacher_schedules[index];
            var color;
            switch(value[4]) {
                case "yellow":
                    color = '#FFFF00';
                    break;
                case "green":
                    color = '#00CC00';
                    break;
                case "red":
                    color = '#E60000';
                    break;
                case "blue":
                    color = '#0066FF';
                    break;
                case "white":
                    color = '#EEEEEE';
                    break;
            }
            dataTable.addRow([value[0], value[1], color,
                new Date(value[2][0], value[2][1], value[2][2], value[2][3], value[2][4], value[2][5]),
                new Date(value[3][0], value[3][1], value[3][2], value[3][3], value[3][4], value[3][5])
            ]);
        };
        var options = {};

        function selectHandler() {
            var selectedItem = chart.getSelection()[0];
            if (selectedItem) {
                var hidden = dataTable.getValue(selectedItem.row, 5);

                var t_description = dataTable.getValue(selectedItem.row, 0);
                var t_elements = t_description.split("(#");
                if (t_elements.length < 2){
                    return;
                }
                tid_str = (t_elements[1]).slice(0,-1);
                var tid = parseInt(tid_str);
                if (isNaN(tid)) {
                    return;
                }

                var description = dataTable.getValue(selectedItem.row, 1);
                var elements = description.split("(*");
                var pid = 0;
                if (elements.length < 2){
                    elements = description.split("(#");
                    if (elements.length < 2){
                        return;
                    }
                    pid = 1;
                }
                tsid_str = (elements[1]).slice(0,-1);
                var tsid = parseInt(tsid_str);
                if (isNaN(tsid)) {
                    return;
                }
                var path = "";
                if (pid == 0){
                    path = Routes.teacher_teacher_schedule_path(tid, tsid);
                }else{
                    path = Routes.program_teacher_schedule_path(tsid);
                }

                // extract id for the resource
                var win = window.open(path, '_blank');
                if(win){
                    //Browser has allowed it to be opened
                    win.focus();
                }else{
                    //Browser has blocked it
                    alert('Please allow popups for this site');
                }
            }
        }

        google.visualization.events.addListener(chart, 'select', selectHandler);
        chart.draw(dataTable, options);
    }
</script>
<div id="teacher_schedule_search_results" style="width: 900px; height: 400px;"></div>
