<%= form_for([@kit,@kit_schedule],:html => { :class => 'form' }) do |f| %>
  <%= resource_error_messages!(@kit_schedule) %>
  <div class="form-group">
    <label for='program_id'>Program Id</label>
    <%= f.text_field :program_id, :class => 'form-control' %>
  </div>

  <%= f.submit 'Block Kit', :class => 'btn btn-lg btn-primary' %>
<% end %>
