<div class='form-group'>
<% if @trigger == ::KitSchedule::EVENT_ISSUE %>
  <label>Comments</label> <small>(mandatory)</small>
<% else %>
  <label>Comments</label> <small>(optional)</small>
<% end %>
  <textarea name='comments' class='form-control'></textarea>
</div>