<div class='row'>
  <div class='col-md-12'>
    <h2>
      Kit Schedules
      <small><%= @kit.kit_name_string %></small>
      <span class='pull-right'>
        <%= link_to "Reserve Venue", new_kit_kit_schedule_path(@kit), :class => 'btn btn-primary btn-sm' %>
      </span>
    </h2>
  </div>
  <%=render 'index'%>
</div>

<%# if @kit_id.nil? %>
  <%#= link_to 'New Kit schedule', new_kit_schedule_path %>
<%# else %>
  <%#= link_to 'New Kit schedule', new_kit_schedule_path(:kit_id => @kit_id) %>
<%#  end %>
