<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h2>
        Request to Block Kit
        <small><%= @kit.name %></small>
      </h2>
    </div>
    <div class='page-body'>
      <div class='row'>
        <div class='col-md-6'>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

