<div class='btn-group'>
    <button type="button" class="btn btn-danger">Update State</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% @program_teacher_schedule = pts %>
      <% (@program_teacher_schedule.state_events - ::Program::NOTIFICATIONS).each do |ev| %>
      <li>
        <%= link_to ev, edit_program_teacher_schedule_path(:id => id, :trigger => ev) %>
      </li>
      <% end %>
    </ul>
  </div>
