/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 *= require bootstrap-datetimepicker
 *= require bootstrap-timepicker
 *= require bootstrap-multiselect
 *= require font-awesome
 *= require jquery-ui
 *= require jquery.timepicker
 *= require dataTables/jquery.dataTables.bootstrap3
 *= require dataTables/extras/TableTools
 *= require dataTables/extras/TableTools_JUI
 */

/* http://rvg.me/2013/11/using-bootstrap-3-with-rails-4/ */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


