<% if [:block, :request_payment, :process_payment].include?(@trigger.to_sym) %>
<div class='alert alert-info'>
<% else %>
<div class='alert alert-danger'>
<% end %>
  <h3>Confirmation: </h3>
  <p>
    <% if @trigger.to_sym == :block %>
      Are you sure you want to <strong>block</strong> this venue for the specified dates?
    <% elsif @trigger.to_sym == :request_payment %>
      Are you sure you want to send this venue schedule to <strong>Finance Department</strong> for processing of payment?
    <% elsif @trigger.to_sym == :process_payment %>
      This venue will be assigned and made available for use in the associated <strong>Program</strong> once payment processing is complete. Are you sure you want to proceed?
    <% elsif @trigger.to_sym == :cancel %>
      This will cancel the venue booking associated with the program. Are you sure you want to proceed?
    <% end %>
  </p>
</div>