<% if @trigger == ::VenueSchedule::EVENT_BLOCK %>
    <div class='form-group'>
      <label>Block Expiry Date </label><small> (If venue is not paid by this date, then the block will be removed) </small>
      <%= text_field_tag 'block_expiry_date', nil, :class => 'form-control dateSelect' %>
    </div>
<% end %>


<script type='text/javascript'>
    $('.dateSelect').datepicker({dateFormat: 'd MM yy (DD)'});
</script>
