<% if @trigger == ::VenueSchedule::EVENT_PROCESS_PAYMENT %>
<div class='form-group'>
  <label>Payment Mode</label>
  <%= text_field_tag 'payment_mode', nil, :class => 'form-control' %>
</div>
<div class='form-group'>
  <label>Payment Id</label>
  <%= text_field_tag 'payment_id', nil, :class => 'form-control' %>
</div>
<% end %>