<% if @trigger == ::VenueSchedule::EVENT_BLOCK %>
    <div class='form-group'>
      <label>Block Expiry Date </label><small> (If venue is not paid by this date, then the block will be removed) </small>
      <%= text_field_tag 'block_expiry_date', nil, :class => 'form-control dateSelect' %>
    </div>
<% elsif @trigger == ::VenueSchedule::EVENT_AUTHORIZE_FOR_PAYMENT %>
    <div class='form-group'>
      <% no_of_days = @venue_schedule.program.no_of_days %>
      <% per_day_price = @venue_schedule.venue.per_day_price %>
      <label>Payment Amount </label><small> (Required. Suggested payment amount is </b> Rs <% no_of_days * per_day_price %> </b>, where </b> number of days = <% no_of_days %> </b>, and </b> price per day = <% per_day_price %> ) </b> </small>
      <%= text_field_tag 'payment_amount', :value=> @venue_schedule.payment_amount, :class => 'form-control dateSelect' %>
    </div>
<% end %>


<script type='text/javascript'>
    $('.dateSelect').datepicker({dateFormat: 'd MM yy (DD)'});
</script>
