<div class='row'>
    <div class='col-md-12'>
        <h2>
            Venue Schedules
            <small><%= @venue.name %></small>
      <span class='pull-right'>
        <%= link_to "Reserve Venue", new_venue_schedule_path(:venue_id => @venue.id), :class => 'btn btn-primary btn-sm' %>
      </span>
        </h2>
    </div>
    <table class='table table-condensed table-hover table-bordered'>
        <tr>
            <th>#</th>
            <th>Prog #</th>
            <th>State</th>
            <th>Month</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Slot</th>
            <th>Reserved By</th>
            <th></th>
        </tr>
        <% @venue_schedules.each do |vs| %>
        <tr>
            <td><%= vs.id %></td>
            <td><%= vs.program_id %></td>
            <td><%= venue_schedule_state_tag(vs) %>
            <td><%= vs.program.start_date.strftime('%B') + ' ' + vs.program.start_date.strftime('%Y') %></td>
            <td><%= vs.program.start_date.strftime('%d %B %Y') %></td>
            <td><%= vs.program.end_date.strftime('%d %B %Y') %></td>
            <td><%= (vs.program.timings.map {|c| c[:name]}).join(", ") %></td>
            <td><%= vs.blocked_by_user.fullname %></td>
            <td><%= link_to "Open", venue_schedule_path(vs), :class => 'btn btn-primary btn-sm' %></td>
        </tr>
        <% end %>
    </table>
</div>

